<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.6.0-alpha009" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net45" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net461" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net461" />
</packages>